<% provide(:title, ' - ' + 'about') %>
<h1>about skuvo</h1>
<div class="about">
	<p>Skuvo is a pet project by <%= link_to "Kevin Ko", 'http://www.kokev.in' %> <%= link_to "(gallery)", username_path("panorama") %> . It was built as a light-weight, flat-design, happier version of imgur. <%= mail_to 'kevin@kokev.in', 'Contact me' %> if you have any questions or suggestions.</p>
	<p>Use Skuvo because:
		<li>Your photos won't be plastered on the front page.</li>
		<li>You want a secure location to host images.</li>
		<li>You want to upload images from your computer and retrieve them on your phone later (or vice versa).</li>
	</p>
	<p>Features I'm working on:
		<li>Masking the image url</li>
		<li>Drag and drop on upload page</li>
		<li>Phone image resizing before uploading</li>
		Skuvo is open-sourced, check it out on <%= link_to "Github", 'https://www.github.com/heyimkko/skuvo' %>.
	</p>
</div>