<h1>about skuvo</h1>
<div class="about">
	<p>Skuvo is a pet project by <%= link_to "Kevin Ko", 'http://www.kokev.in' %>. It was built as a light-weight, flat-design, happier version of imgur. <%= mail_to 'kevin@kokev.in', 'Contact me' %> if you have any questions or suggestions, my enthusiasm to work is directly proportional to the amount of people using the site.</p>
	<p>Use Skuvo because:
		<li>Your photos won't be plastered on the front page.</li>
		<li>You want a secure location to host images.</li>
		<li>You've been threatened by the creator.</li>
		<li>You're a tech-hipster.</li>
	</p>
</div>