<h1>skuvo demo</h1>

<h2>Check out a <%= link_to "sample gallery", username_path(@demo_user) %></h2>
<div class="demo">
	<p>Welcome to Skuvo! Here's how it works:</p>
	<p>1. After signing in, you can start uploading images by clicking this big green button.</p>
	<div class="center">
		<img alt="skuvo demo image" class="photo" src="https://www.filepicker.io/api/file/Sr2CpUCJTsGpZFzPATex/convert?fit=clip&amp;height=240&amp;width=320" />
	</div>
	
	<p>2. A handy pop-up dialog allows you to select where to fetch images from. After processing those images, you get the option to upload these to your gallery.
	</p>
	<div class="center">
		<img alt="skuvo demo image" class="photo" src="https://www.filepicker.io/api/file/1twAuVhCR4Kv9rA7JWZc/convert?fit=clip&amp;height=240&amp;width=320" />
	</div>
	
	<p>After the upload, you can check your profile page for your gallery of uploaded images.</p>
	<div class="center">
		<img alt="skuvo demo_usero image" class="photo" src="https://www.filepicker.io/api/file/5jweLOJJS2K717OO2K3s/convert?fit=clip&amp;height=240&amp;width=320" />
	</div>
	<p>Here, you can do neat stuff like download/export the picture elsewhere, share a shortlink, or delete the picture.</p>
</div>