<h1>skuvo demo</h1>
<p>
Here's how skuvo works!<br>
[image]<br>
Signed-in users get to upload pictures by clicking this big green button or drag and dropping files<br>
[image]<br>
After the upload, users can check their profile page for their gallery of uploaded images.<br>
Here, you can do neat stuff like re-download the picture, share a shortlink, or delete the picture.<br>
</p>