<div class="main_content">
  <h1 class="main">Skuvo</h1>
  <%= form_for Photo.new do |f| %>
    <div>
      <%= f.filepicker_field :url, multiple: true, button_text: "Select Images", onchange: "
          $('input[type=submit]').fadeIn(800);
          var imageData = [];
          var files = event.fpfiles;
          for (var i = 0, f; f = files[i]; i++) {
            imageData.push('<p>Name: ' + f.filename + ', Size: ' + (f.size/1000).toFixed(0) + ' kb</p>');
          }
          document.getElementById('imageData').innerHTML = '<ul>' + imageData.join('') + '</ul>';" %>
        </div>
        <ul id="imageData">
        </ul>
    <%= f.submit "Ok, let's go." %>
  <% end %>
  <BR>
    <BR>
      Latest issue: Drag and drop file upload doesn't work ("Oops! Had trouble uploading."). No apparent difference from control state (demo)
  <Br>
      http://stackoverflow.com/questions/14679394/trouble-getting-filepicker-io-drag-drop-pane-working-using-javascript-api

  <script>
  $(document).ready(function(){
    $('input[type="submit"]').hide();
  });
  </script>
</div>