<div class="mainContent">
  <h1>skuvo</h1>
  <h2>minimalist image hosting<span id="demoLink"><%= link_to " (sample)", username_path("panorama") %></span></h2>
  <% if current_user %>
    <h2>Hi, <%= link_to @user.username, username_path(@user.username) %></h2>
  <% else %>
    <div class="right"><%= link_to "Signup", signup_path %> or <%= link_to "login", login_path %></div>
  <% end %>
  <div class="splashUpload">
    <form accept-charset="UTF-8" action="/photos" class="new_photo" id="new_photo" method="post">
      <div style="margin:0;padding:0;display:inline">
        <input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="Wl+n/0UuyTyj1NWYF1uG4ZbB6f6E3MrWDW1Nvw6m3e0=" />
      </div>
      
      <input data-fp-apikey="AWbWJDU7S82YMEcTRnbFwz" 
             data-fp-button-text="Select Images" 
             data-fp-drag-text="Or drop files here" 
             data-fp-mimetypes="image/*" 
             data-fp-option-multiple="true" 
             data-fp-option-services="COMPUTER,FACEBOOK,INSTAGRAM,URL" 
             id="photo_url" name="photo[url]" 
             onchange="
                var imageData = [];
                var files = event.fpfiles;
                imageData.push('<p>' + files.length + ' file(s) to upload:</p>');
                for (var i = 0, f; f = files[i]; i++) {
                  imageData.push('<li>Name: <span class=\'fileDesc\'>' + f.filename + '</span></li><p> Size: <span class=\'fileDesc\'>' + (f.size/1000).toFixed(0) + ' kb</span></p>');
                }
                document.getElementById('imageData').innerHTML = '<ul>' + imageData.join('') + '</ul>';
                $('#imageData').fadeIn(800);
                setTimeout(function() {
                  $('input[type=submit]').fadeIn(400);
                }, 800);
                " 
              size="30" 
              type="filepicker" />
      <input id="upload" name="commit" type="submit" value="Upload" />
    </form>    
    
    <div id="imageData">
    </div>
  </div>

  
  <script>
  $(document).ready(function(){
    $('input[type="submit"]#upload').hide();
    $('#imageData').hide();

    // filepicker.makeDropPane($('#exampleDropPane')[0], {

    // multiple: true,
    // mimetype: 'image/*',
    // maxSize: 1048576,

    // dragEnter: function() {
    //     $("#exampleDropPane").html("Drop to upload").css({
    //         'backgroundColor': "#E0E0E0",
    //         'border': "1px solid #000"
    //     });
    // },
    // dragLeave: function() {
    //     $("#exampleDropPane").html("Drop files here").css({
    //         'backgroundColor': "#F6F6F6",
    //         'border': "1px dashed #666"
    //     });
    // },
    // onSuccess: function(fpfiles) {
    //     $("#exampleDropPane").text("Done, see result below");
    //     $("#localDropResult").text(JSON.stringify(fpfiles));
    // },
    // onError: function(type, message) {
    //     $("#localDropResult").text('('+type+') '+ message);
    // },
    // onProgress: function(percentage) {
    //     $("#exampleDropPane").text("Uploading ("+percentage+"%)");
    // }
    // });
  });
  </script>
</div>