<%# if current_user %>
  <div id="drop_zone">
    <div class="main_content">
    <h1 class="main">Skuvo</h1>
    <h2 class="main">Please drag in your photo.</h2>
    <ul>
      <form method="post" action="/" enctype="multipart/form-data" id="form">
      <output id="list">
      </output>
      <div class="submit_button"><input type="submit" value="Ok, let's go."></div>
      </form>
    </div>
    </ul>
    <!-- <div class="loader">
      <img src="/loader.gif">
    </div> -->
  </div>
<%# else %>
  <!-- <h1>Welcome to Skuvo</h1>
  <p>Please Sign up or Log in to upload photos</p> -->

  <%#= erb :_signup_form, :layout => false %>

  <%#= erb :_login_form, :layout => false %>
<%# end %>