<% provide(:title, ' - ' + 'terms') %>
<h1>Terms of Service</h1>
<div class="terms">
  <p>Welcome to the disclaimer portion of the site, for formalities and such.</p>
  <p>Your use of our website to do anything beyond simply accessing/viewing it (that is, uploading, downloading, etc.), constitutes not merely your consent, but also your electronic signature, meaning that you are contractually bound by these terms.</p>
  <p>Don’t upload gore, obscenity, advertising, solicitations, "hate speech" (i.e. demeaning race, gender, age, religious or sexual orientation, etc.), or material that is threatening, harassing, defamatory, or that encourages illegality. Don’t hotlink to such content, or to file-sharing or torrent sites. Don’t be a troll or a jerk. Don't impersonate someone else. If you do (and we will be the judge), or if you do anything illegal, in addition to any other legal rights we may have, we will ban you along with the site you're hotlinking from, delete all your images, report you to the authorities if necessary, and prevent you from viewing any images hosted on skuvo.com. We mean it.</p>
  <p>Skuvo.com claims no ownership over any of the user-submitted images displayed on this site. All images are hosted on Amazon Web Services.
</div>