<% provide(:title, ' - ' + @user.username + '\'s gallery') %>
<h1>
  skuvo<span><%= link_to image_tag('/assets/glyphicons_upload.png'), root_path %></span>
</h1>
<h2>
  <%= @user.username %>'s Gallery 
  (<span id="photosCount"><%= @photos.count %></span>)
</h2>

<%= render 'partials/gallery' %>