/*
CLOUDS: #ecf0f1
EMERLAND: #2ecc71;
*/
html {
  font-size: 16px;
  line-height: 20px;
}
body {
  /*background-image: url('/assets/bg.png');*/
  background-color: #ecf0f1;
  font: normal 62.5% 'Sanchez',verdana,helvetica,arial,sans-serif;
  color: #444;
}

@media all and (min-width: 1800px){
  body {
    font-size: 100%
  }
}
  
@media all and (min-width: 1500px) and (max-width: 1799px){
  body {
    font-size: 90%
  }
}
    
@media all and (min-width: 1100px) and (max-width: 1499px){
  body {
    font-size: 80%
  }
}
@media all and (min-width: 800px) and (max-width: 1099px){
  body{
    font-size: 70%
  }
}
.container {
  clear:both;
  margin: auto;
  width: 960px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  text-align: left;
  font:14px 'Lato',verdana,helvetica,arial,sans-serif;
  list-style: none;
}

::selection {
  background-color: #27ae60;
  color: #fff;
}