/*
CLOUDS: #ecf0f1
EMERLAND: #2ecc71;
NEPHRITIS: #27ae60;
*/

.mainContent {
  width: 50%;
  min-width: 300px;
  margin: 0px auto;
  margin-top: 5%;
  input[type=submit]{
    font-family: 'Lato';
    font-weight: 300;
    font-size: 2.1em;
    padding: 4%;
    background-color: #3498db;
    color: #ecf0f1;
    border: 0px;
    width: 100%;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
            transition: all 0.2s ease;
    &:hover {
      background-color: #2980b9;
    }
  }
}

.splashUpload {
  button {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 2.8em;
    padding: 10%;
    background-color: #2ecc71;
    color: #ecf0f1;
    border: 0px;
    width: 100%;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
            transition: all 0.2s ease;
    &:hover {
      background-color: #27ae60;
    }
  }
  #imageData {
    padding: 5px;
    letter-spacing: 1px;
    font-family: 'Sanchez';
    ul {
      padding-left: 18px;
    }
    li {
      list-style: decimal;
    }
    p {
      padding-bottom: 10px;
    }
    .fileDesc {
      font-family: 'Open Sans';
      font-weight: 300;
    }
  }
}

#dropZone {
  display: block;
}

.over {
  border: 3px dashed #000;
  opacity: 0.2;
}