/*
CLOUDS: #ecf0f1
EMERLAND: #2ecc71;
NEPHRITIS: #27ae60;
Leaf: #91C46C
DarkLeaf: #7EAA5E;
*/

.mainContent {
  width: 50%;
  min-width: 300px;
  margin: 0px auto;
  margin-top: 5%;
  h1 {
    font-family: 'Open Sans';
    font-weight: 300;
    color: #222;
    font-size: 4.8em;
    margin: 0px;
    text-align: center;
  }
  h2 {
    margin-top: 0px;
    text-align: center;
    padding-bottom: 2px;
    font-weight: 300;
  }
  input[type=submit]{
    font-family: 'Lato';
    font-weight: 300;
    font-size: 2.1em;
    padding: 4%;
    background-color: #3498db;
    color: #ecf0f1;
    border: 0px;
    width: 100%;
    cursor: pointer;
    &:hover {
      background-color: #2980b9;
    }
  }
}

.splashUpload {
  button {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 2.8em;
    padding: 10%;
    background-color: #2ecc71;
    color: #ecf0f1;
    border: 0px;
    width: 100%;
    cursor: pointer;
    /*border-radius: 2px;*/
    &:hover {
      background-color: #27ae60;
    }
  }
  #imageData {
    padding: 5px;
    letter-spacing: 1px;
  }
}

.splashSignup {
  position: relative;
  input[type=submit] {
    width: 99%;
  }
  label {
    font-size: 1.2em;
    width: 100%;
    display: inline-block;
    font-family: 'Open Sans';
    &#username {
      text-align: right;
    }
  }
  input[type=text], input[type=password]{
    font-family: 'Open Sans';
    padding: 4px;
    width: 96%;
    font-size: 1.2em;
    height: 2em;
    margin-bottom: 10px;
    background-color: #fefefe;
    border: 1px solid #ddd;
  }
  #domain {
    display: inline-block;
    margin-right: 0px;
    width: 35%;
    border-right: 0px;
  }
  #username {
    margin-left: -4px !important;
    border-left: 0px;
    width: 59%;
    margin-left: 0px;
  }
  p {
    text-align: right;
  }
}

.drop_zone {
  position: absolute !important;
  left: 1px !important;
  top: 1px !important;
  width: 99% !important;
  height: 99% !important;
}

.over {
  border: 3px dashed #000;
  opacity: 0.2;
}

.error_messages {
  width: 90%;
  color: red;
  margin-bottom: 10px;
}

