.gallery {
	width: 100%;
	display: block;
}

.photoButtons {
	text-align: center;
	max-height: 34px;
}

.photoView #delete, .photoView button, h1 img {
  padding: 2%;
  color: #ecf0f1;
  border: 0px;
  margin: 0px auto;
  cursor: pointer;
	width: 26px;
	height: 26px;
}

h1 {
	img {
		width: 26px;
		height: 26px;
		padding: 1%;
    background-color: #3498db;
    &:hover {
      background-color: #2980b9;
    }
	}
}

.photoView {
	margin: auto;
	float: left;
	display: inline;
	min-width: 200px;
	width: 30%;
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-bottom: 3%;
	input {
		font-family: 'Sanchez';
		cursor: text;
		width: 160px;
    padding: 4px;
    margin-bottom: 2px;
    background-color: #fefefe;
    border: 1px solid #ddd;
	}
	#delete {
		display: inline-block;
    background-color: #e74c3c;
    &:hover {
      background-color: #c0392b;
    }
	}
	button {
		border: 1px solid #2ecc71;
		width: 34px;
		height: 34px;
    background-color: #2ecc71;
    padding: 3px 3px 4px 3px !important;
    &:hover {
      background-color: #27ae60;
      border-color: #27ae60;
    }
  }
}